@model Appointment
@{
    ViewData["Title"] = (!string.IsNullOrEmpty(Model.Id) ? "Редактировать" : "Добавить") + " встречу";
}
<div class="card shadow border-0 mt-4">
    @* Header *@
    <h1 class="text-center display-2 mb-3">@ViewData["Title"]</h1>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">

                <div class="form-floating py-2 col-12">
                    <input asp-for="DateOfAppointment" type="datetime-local" class="form-control border-0 shadow" />
                    <label asp-for="DateOfAppointment" class="ms-2">Дата встречи</label>
                    <span asp-validation-for="DateOfAppointment" class="text-danger"></span>
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="Diagnosis" class="form-control border-0 shadow" />
                    <label asp-for="Diagnosis" class="ms-2">Диагноз</label>
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Id" value="@Model.Id" />
                <input type="hidden" asp-for="PatientId" value="@Model.PatientId" />

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">
                            @(!string.IsNullOrEmpty(Model.Id) ? "Потвердить" : "Добавить")</button>
                    </div>
                    <div class="col-6 col-md-3">

                        <a asp-controller="Patient" asp-action="Details" asp-route-id="@Model.PatientId"
                        class="btn btn-secondary form-control">
                            Назад
                        </a>

                    </div>
                </div>

            </div>
        </form>
    </div>
</div>




@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
